# dev
ipython

# flask
flask
flask-script
psycopg2
flask-sqlalchemy
flask-restplus
flask-marshmallow
flask-cache
marshmallow-sqlalchemy
markdown
Flask-Bcrypt
Flask-Cors

# deploy
gevent
gunicorn

# celery
celery[redis]


# etc
pypinyin
arrow
requests
schema
PyJWT
